.template {
  background-color: #000;
  width: 500px;
  height: 750px;
  position: relative;
  border-radius: 15px;
  margin: 0 auto; /* 가운데 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
}
